<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=no" />
    <title>Badges</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav class="top-nav">
      <a href="/matches">Match Submission</a>
      <a href="/leaderboard">Leaderboard</a>
      <a href="/badges">Badge Info</a>
    </nav>

    <h1 class="badge-title">Badge Information</h1>

    <div class="badge-table-container">
      <table class="badge-table">
        <thead>
          <tr>
            <th>Badges</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {% for b in badges %}
          <tr>
            <td>{{ b.badge }}</td>
            <td>{{ b.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
