<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Badges</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav class="top-nav">
      <a href="/matches" class="{{ 'active' if request.path == '/matches' else '' }}">Matches</a>
      <a href="/leaderboard" class="{{ 'active' if request.path == '/leaderboard' else '' }}">Leaderboard</a>
      <a href="/lifetime-ratings" class="{{ 'active' if request.path == '/lifetime-ratings' else '' }}">Lifetime Ratings</a>
    </nav>

    <div class="badge-table-container">
      <div class="page-hero">
        <h1 class="badge-title">Badge Information</h1>
      </div>

      <table class="badge-table">
        <thead>
          <tr>
            <th>Badges</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          {% for b in badges %}
          <tr>
            <td>{{ b.badge }}</td>
            <td>{{ b.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
